.imag-avi{
    border-radius:  50% 50% ;
    height: 70px ;
    width: 70px;  
    margin: 20px 20px 20px 20px ;  
}
.card-avi{
    width: 250px;
    height:250px ;
    margin:  20px 20px 20px 20px ;
}

.container-card {
    flex-wrap: nowrap ;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;

  }