
 .head {
    min-height: 70vh;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
 }


 .hood {
  /* background: url(https://thumbs.gfycat.com/EcstaticSinfulAlabamamapturtle-max-1mb.gif); */
  margin-top: 50px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #815878;
}
.hoood{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKxzHHXZWSi_si43TPvSG3_ZvTkNqjlPNe_0gBakePvXCV5BoIu8IO02l3nRcdfusLJNo&usqp=CAU);

    margin-top: 50px;
    margin-right: 10px;
    text-align: center ;
    font-weight:bold;
    font-style: italic;
    color: black;

}
.header{
  text-align: left ;
  font-weight:bold;
  
  color: black;

}
.profil{
  text-align: left ;
  width: 170px;
}
.input{
  text-align: left;
  width: 170px;
}
.photo{
  padding: 20px 20px 20px 20px;

}
.para{

  text-indent:30px;
  font-weight:bold;

}
.Nlink.active {
    color: #2c3e50 !important;

  }
  .NNlink {
    border: 1px solid ivory;
    border-radius: 25px;
    background-color: slategray;
    
    
    
  }
  .me-auto {
  
    
    text-align: left ;
  
    
  }
  .NNNNlink {
    background: url(https://c.tenor.com/-SxWP-6u-hEAAAAC/snow-fall.gif);
    text-align: left ;
    width: 10%;
    height: 10px;
    
  }
  
  .Nlink {
    border: 1px solid ivory;
    border-radius: 25px;
    text-align: center ;
   
  }
  .avis {
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    background: url(https://64.media.tumblr.com/331c99aa666ff157c4b4195e68e91c65/tumblr_oqd9wrhwyj1wq5uwno1_540.gifv);
    padding: 20px;
    width: 200px;
    height: 150px;
    
  }
  .math {
    border: 1px solid gray;
    border-radius: 25px;
    background: url(https://64.media.tumblr.com/331c99aa666ff157c4b4195e68e91c65/tumblr_oqd9wrhwyj1wq5uwno1_540.gifv);
  }
.nana{
  color: bro
}
.img{
    
  padding-bottom: 10%;
  border-radius:50%;
  position: relative;
  width: 200px;
  height:   200px;
  border: 3px solid black;
  margin: 0;
  padding:0;
}
.imgg {
  padding-bottom: 10%;
  border-radius: 50%;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
.imggg{
    
  padding-bottom: 10%;
  border-radius:50%;
  position: relative;
  width: 200px;
  height:   200px;
  border: 3px solid black;
  margin: 0;
  padding:0;
 
  
}
.mb-3{
    

  height: 150px;
 
 
  
}
.content{
    
  width: 80%;
  height: 1000px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  
}
.contentt{
    
  width: 100%;
  margin-top: 100px;
  /* height: 1180px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.testimonialss1{
    
  width: 100%;
  height: 1000px;
  display:flex;
  flex-direction: column;
  justify-content:left;
  align-items: left ;
}

.testimonialss2{
    
  width: 100%;
  height: 1000px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center ;
}
.testimonialss3{
    
  width: 100%;
  height: 1000px;
  display:flex;
  flex-direction: column;
  justify-content:right;
  align-items: right ;
}




.containerr{
    
  width: 600px;
  min-height: fit-content ;
  background-color:#fff ;
  display:  flex ;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin:20px;
  justify-content: space-around;
}
.container1{
    
  width: 600px;
  min-height: fit-content ;
  background-color:#fff ;
  display:  flex ;
  align-items: flex-start;
  padding: 20px;
  margin:20px;
  justify-content: space-around;
  
}




.containerr{
  width: 100%;
  min-height: fit-content ;
  background-color: white;
  display:  flex ;
  flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin:20px;
    justify-content: space-around;
  
    
  }
  .containerradd{
    /* background: url(https://img.wattpad.com/69762b9fb0872488cda3327c0356d99ace1d74c2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f476f736d33443143307a4a6741773d3d2d3739383538363735322e313564313932653861663531326661323534353134313832313730392e676966); https://previews.123rf.com/images/malven/malven1710/malven171000150/88835161-white-abstract-texture-crumpled-paper-closeup-for-a-background-or-for-wallpaper.jpg */
    width: 60%;
    /* https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ0V-atD87fURKIq4i9ijtDcRs6Civoc3UMA&usqp=CAU*/
    min-height: fit-content ;
    background-color:#fff ;
    display:  flex ;
    align-items: center; 
    padding: 70px;
    margin:   70px;
    justify-content: space-around;
    border: 1px solid rgb(8, 8, 6);
    border-radius: 25px;
  }

  .text{
      
    flex: 0,5;
  }
  .ff{
      
    color:navy;
    font-style: italic;
  }
  .f{
    color: teal;
    font-style: italic;
    font-weight: bold;
  }
  .fff{
    background-color: rgb(75, 240, 240);
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  .fff:hover{
    background-color: rgb(43, 147, 147);
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transform: none;
    transition: all 0.9s  ;
  }
  .inp-titre{
    width: 70%;
    height: 30px;
    border-bottom:1px solid red ;
    margin-left: 10px;
  }
  .text-muted{
    color: yellow;
  }
  .post{
    color: brown;
  }
  button {
    background-color: purple;
    color: #fff;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }